[production]
last 2 Chrome versions
last 2 Edge versions
last 2 Safari versions
last 2 iOS Safari versions
last 2 Firefox versions
not dead

[development]
last 1 Chrome version
last 1 Firefox version
last 1 Safari version
